<div id="main-container">

  <div id="color-picker-container">
    <p>Pick a color</p>

    <form>

      <ngx-slider class="slider" [(value)]="redColor" (valueChange)="sliderValueChange()" [options]="rgbOptions"></ngx-slider>
      <ngx-slider class="slider" [(value)]="greenColor" (valueChange)="sliderValueChange()" [options]="rgbOptions"></ngx-slider>
      <ngx-slider class="slider" [(value)]="blueColor" (valueChange)="sliderValueChange()" [options]="rgbOptions"></ngx-slider>

      <input id="color-picker-text-field" (input)="textChanged($event.target.value)" type="text">

    </form>

  </div>

  <div id="display-color-and-text-container">
    test
    {{colorPickerText}}
  </div>

</div>
