#main-container{
  /*text-align: center;*/
}
#color-picker-container{
  width: 25%;

  height: 100%;
  text-align: center;
  margin-left: 5%;
  display: inline-block;
}

#color-picker-text-field{
  width: 100%;
  margin-top:5%;
}

#display-color-and-text-container{
  margin-left: 40px;
  background-color: red;
  width: 25%;
  height: 100%;
  display: inline-block;
}
